<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.windows.forms jitDebugging="true"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
   <connectionStrings>
  <add name="TelefonCS" connectionString="Server=ВАШ_СЕРВЕР;Database=ВАША_БД;Integrated Security=True;"/>
    </connectionStrings>	
</configuration>
